<h3>Output</h3>

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
        Income before pension deduction: {{basic_salary}}<br><br>

        deductible nssf pension: {{nssf}}<br><br>

        income after pension deduction: {{income_after_pension}}<br><br>
        
        Benefits:{{allowances}}<br><br>

        Gross pay: {{gross_pay}}<br><br>

        taxable_income: {{taxable_income}}<br><br>

        PAYE on taxable_income: {{ income_tax }}<br><br>

        personal relief: {{personal_relief}}<br><br>

        tax_payable:{{tax_payable}}<br><br>

        nhif contribution: {{nhif_deduct}}<br><br>

        net pay: {{net_pay}}

   
</body>
</html>